<div class="mobile-menu" id="mobileMenu">
  <a href="/#blog">Blog</a>
  <a href="/#linine">Linine</a>
  <a href="/#debate">The Debate</a>
  <a href="/#syntcoin">Syntcoin</a>
  <a href="/#newsletter">Subscribe</a>
  <a href="/#circle">The Circle</a>
</div>
